footer
    .contact
        p Working
    .footer-bottom
        .footer-bottom__flex-container
            .footer-bottom__wrapper
                .footer-bottom__cards
                    a#card-discover(href='#')
                    a#card-american(href='#')
                    a#card-visa(href='#')
                    a#card-master(href='#')
                    a#card-paypal(href='#')
                    a#card-maestro(href='#')
                p.for-768.footer-bottom__copy &copy; 2019 by anastasiaval.
            .footer-bottom__social
                a.facebook(href='#')
                    img(src=require('./img/facebook.png'), alt='social link')
                a.twitter(href='#')
                    img(src=require('./img/twitter.png'), alt='social link')
                a.social-2(href='#')
                    img(src=require('./img/social-2.png'), alt='social link')
                a.social-1(href='#')
                    img(src=require('./img/social-1.png'), alt='social link')
                a.linked(href='#')
                    img(src=require('./img/linked.png'), alt='social link')
                a.social-3(href='#')
                    img(src=require('./img/social.png'), alt='social link')
                a.skype(href='#')
                    img(src=require('./img/skype.png'), alt='social link')
                a.mail(href='#')
                    img(src=require('./img/mail.png'), alt='social link')
            p.for-320.footer-bottom__copy &copy; 2019 by anastasiaval.
        span#back-to-top
            img(src=require('./img/back-to-top.png'), alt='back to top')

